body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    background-image: url('doodle.png');
    background-size: cover;
    background-repeat:repeat-x;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    border-radius: 10px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:aliceblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 24px);
    margin: 10px 0;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3b4cca;
}

button {
    color: white;
    background-color: #3b4cca;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #2a2a72;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

#pokemon-stats {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: hidden;
    transition: max-height 0.3s, overflow-y 0.3s;
}

#pokemon-stats.visible {
    overflow-y: auto;
    max-height: 300px;
}

#pokemon-stats img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: spin 1s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.stat {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(59, 76, 202, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stat:hover {
    background-color: rgba(59, 76, 202, 0.2);
}

#pokemon-stats.visible::-webkit-scrollbar {
    width: 12px;
}

#pokemon-stats.visible::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#pokemon-stats.visible::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

#pokemon-stats.visible::-webkit-scrollbar-thumb:hover {
    background: #555;
}

span{
    color: yellow;
    -webkit-text-stroke-color: rgb(26, 26, 182);
   -webkit-text-stroke-width: 2px;
}


